<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Login</title>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/login.css " rel="stylesheet" type="text/css">
  

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <script>
      $(function()
      {
        
         $("#login").click(function(){
          var text11 = $('#InputEmail').closest('form').find('input[name="ad"]').val();
        var text12 = $('#InputPassword').closest('form').find('input[name="sifre"]').val();
          if(text11=="admin" && text12=="123")
           {
            $("#login").attr("href","tables.html"); 
           }
           else
             alert("Yanlış Kullanıcı Girişi");
        });
        
    
      });
    </script>
</head>

<body class="main-login">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9 col-xs-12 col-sm-12">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="img/volt-elektrik-logo.png" alt="" class="col-lg-12 col-xs-12 col-sm-12 col-sm-12" style="left:16%;top:35%; width: auto; height: auto;"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">LOGIN</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input name="ad" value="admin"  type="text" class="form-control form-control-user" id="InputEmail" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input name="sifre" value="123" type="text" class="form-control form-control-user" id="InputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <a  class="btn btn-primary btn-user btn-block" id="login">
                      Login
                    </a>
                    <hr>
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
